<% provide(:title, 'Team View (Admin)') %>
<div class="container">
  <h1>Team View (Admin)</h1>
  <hr/>
  <h2>Team <%= @team.name %> for course <%= @team.course.class_number %></h2>
  <br/>
    <p>Team Members</p>
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Member Name</th>
        <th>Action</th>
      </tr>
  <!--    </thead>-->
  <!--    <tbody>-->
  <!--    <tr>-->
  <!--      <td>Member</td>-->
  <!--      <td><%#= link_to "Kick", "#"%></td>-->
  <!--    </tr>-->
  <!--    </tbody>-->
    </table>
    <%= link_to "Back", teams_path, :class => 'btn btn-primary'%>
<!--    get request to http://localhost:3000/teams/[SOME TEAM ID NUMBER]/projects/new-->
    <%= link_to "Create new project", new_team_project_url(params[:id]), :class => 'btn btn-primary'%>
</div>