<% provide(:title, 'Team View (Admin)') %>

<h1>Team blahblahblah </h1>
<br>
<div class="container">
  <p>Team Members</p>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Member Name</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>Member</td>
      <td><%= link_to "Kick", "#"%></td>
    </tr>
    </tbody>
  </table>
</div>
<hr/>