<% provide(:title, "Home") %>

<div id="readme-container">
    I Don't know what we should put on our homepage...
    <%# Debug information about the page can be displayed using the following: %>
    <p><br><strong>Debug Information:</strong></p>
    <%= debug(params) if Rails.env.development? %>
</div>