<% provide(:title, 'Peer evaluation listS') %>
<div class="container">

  <h1> Your Peer evals for "<%= @project_name %>"" </h1>

  <h2> Create Peer Evaluations: </h2>

  <table class="table table-striped">
    <thead>
      <tr>
        <td>Student name</td>
        <td>Peer Eval</td>
      </tr>
    </thead>
    <tbody>
      <% @team_users.each do |user| %>
        <td> <%= user.name %> </td>
          <td>
          <% if @peer_eval.exists?(user_id: user.id)%> 
            Completed
          <% else %>
            <%= link_to "Create new peer evaluation", new_team_project_peer_eval_path(:evaluated_user_id => user.id), :class => 'btn btn-primary'%>
          <% end %>    
          </td>    
      <% end %>

    </tbody>
  </table>

</div>