<%# 
    DELETE THIS FILE AFTER FINISHED - For debuggin only...
 %>
<%# Hyper-basic profile page, just for debugging atm %>
Institution: <%= Institution.find_by(id: @admin.institution_id)[:name_id] %>
User ID: <%= @admin.user_id %>
<%# Debug information about the page can be displayed using the following: %>
    <p><br><strong>Debug Information:</strong></p>
    <%= debug(params) if Rails.env.development? %>