<% provide(:title, 'Team View (Student)') %>

<h1>Team blahblahblah </h1>
<br>
<div class="container">
  <p>Team Members</p>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Member Name</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>Your mom</td>
    </tr>
    </tbody>
  </table>
</div>
<hr/>
<div class="container">
  <p>Peer evaluations and scores</p>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Project Name</th>
      <th>Your Score</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>Your mom</td>
      <td>6.9</td>
    </tr>
    </tbody>
  </table>
</div>