<% provide(:title, 'Team List (Student)') %>

<h1>Teams Listing (Student)</h1>
<div class="container">
  <h2>Teams</h2>
  <p>Here are all of the teams you are a part of!</p>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Team Name</th>
      <th>Number of Members</th>
      <th>Course</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>Your mom</td>
      <td>69</td>
      <td>CSE 42069</td>
      <td>Edit/Delete</td>
    </tr>
    </tbody>
  </table>
</div>