<% if @admin.errors.any? %>
    <div id="error-explanation">
        <div class="alert alert-danger">
            Please correct the following <%= pluralize(@admin.errors.count, "error")%>.
        </div>
        <ul>
            <% @admin.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
        </ul>
    </div>
<% end %>