<div class="right-pannel">
    <h1>Managed Courses:</h1>
    <div class="divider"></div>
    <ul>
        <li>[For loop here looping over all the courses please]</li>
    </ul>
    <h1>Managed Teams:</h1>
    <div class="divider"></div>
    <ul>
        <li>[Team Name]</li>
        <li>[Team Name]</li>
        <li>[Team Name]</li>
        <li>[Team Name] ~ We don't want all the members names here</li>
    </ul>
    <h1>Co-Administrators:</h1>
    <div class="divider"></div>
    <ul>
        <li>[Course Name]</li>
        <ul>
            <li>[Student Admin]</li>
            <li>[Student Admin]</li>
        </ul>
        <li>[Course Name]</li>
        <ul>
            <li>[Student Admin]</li>
            <li>[Student Admin]</li>
        </ul>
    </ul>
</div>