<div class="right-pannel">
    <h1>Managed Courses:</h1>
    <div class="divider"></div>
    <ul>
        <% @managed_courses.each do |mc| %>
            <li><%= mc.class_number%></li>
        <% end %>
    </ul>
    <h1>Managed Teams:</h1>
    <div class="divider"></div>
    <ul>
        <% @managed_teams.each do |mc| %>
            <% mc.each do |mt| %>
                <li><%= mt.name%></li>
            <% end %>
        <% end %>
    </ul>
    <h1>Co-Administrators:</h1>
    <div class="divider"></div>
    <ul>
        <% @co_admins.each_index do |i| %>
            <li><%= @managed_courses[i].class_number %></li>
            <ul>
                <% @co_admins[i].each do |a| %>
                    <li><%= a.user.name%></li>
                <% end %>
            </ul>
        <% end %>
    </ul>
</div>