<header>
    <h1><%= link_to "Peer Evaluation Tool", "/" %></h1>
    <ul class="nav small">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#"></a>
            <ul class="dropdown-menu">
                <li>
                    <a class="nav-link" href="/about">About</a>  
                </li>
            </ul>
        </li>
    </ul>
    <ul class="nav large">
        <li class="nav-item">
            <a class="nav-link" href="/about">About</a>
        </li>
    </ul>
    <div></div>
</header>