<% provide(:title, "Permission Denied") %>
<div class="lock-body">
<h1 class="locked">Access Denied</h1>
<p class="locked">You do not have access to this page without the proper credentials.<br>Contact the system administrator if you believe this is a mistake.</p>
<a class="locked" href="/">Home</a>
<%= image_tag "FreeLock.png", alt: "Access Denied", class: "locked" %>
</div>