<div class="right-pannel">
    <h1>Enrolled Courses:</h1>
    <div class="divider"></div>
    <ul>
        <% @courses.each do |c| %>
            <li><%= c.class_number%></li>
        <% end %>
    </ul>
    <h1>Teams:</h1>
    <div class="divider"></div>
    <ul>
        <% @teams.each do |t| %>
            <li><%= t.name%></li>
            <ul>
                <li>[Member Name]</li>
                <li>[Member Name]</li>
                <li>[Member Name]</li>
            </ul>
        <% end %>
    </ul>
    <h1>Administrators:</h1>
    <div class="divider"></div>
    <ul>
        <li>[Instructor Name]: [Course Name]</li>
        <li>[Instructor Name]: [Course Name]</li>
    </ul>
</div>