<div class="container">
  <h1>
    Project <%=@project.name %>
  </h1>
  <p>for team <%=@project.team.name %></p>

<!--  Button here for peer evals for this project-->
  <%= link_to "To Projects Page", team_projects_path, :class => 'btn btn-primary'%>
  <%= link_to "To Peer Evals", "#{@project.id}/peer_eval", :class => 'btn btn-primary'%>

</div>