<% provide(:title, "Login") %>

<div class="psuedo-body">
    <div class="custom-jumbo">
    <h1>Welcome Back!</h1>
    <form action="/action_page.php">
    <div class="mb-3 mt-3">
        <label for="email" class="form-label">Email:</label>
        <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
    </div>
    <div class="mb-3">
        <label for="pwd" class="form-label">Password:</label>
        <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pswd">
        <%= link_to "Forgot Password", "/reset_password" %>
        <br>
        <%= link_to "Create New Account", "/sign_up" %>
    </div>
    <button type="submit" class="btn">Submit</button>
    </form>
    <%= button_to "Back", "/", class: "btn back-button", method: :get %>
    </div>
</div>