<% provide(:title, "Reset Password") %>

<div class="psuedo-body">
    <div class="custom-jumbo">
    <h1>Reset your password:</h1>
    <form action="/action_page.php">
    <div class="mb-3 mt-3">
        <label for="email" class="form-label">Email:</label>
        <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
    </div>
    <div class="mb-3">
        <label for="pwd" class="form-label">New Password:</label>
        <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pswd">
    </div>
    <div class="mb-3">
        <label for="pwd" class="form-label">Repeat New Password:</label>
        <input type="password" class="form-control" id="r-pwd" placeholder="Enter password" name="r-pswd">
    </div>
    <button type="submit" class="btn">Submit</button>
    <button class="btn back-button"><%= link_to "Back", "/" %></button>
    </form>
    </div>
</div>