<h1> Courses </h1>

<% @course.each do |course| %>

    <div class="well">
            <h3>Course Name: <%= course.name %> | <%= course.class_number %></h3>
            <button>Enroll</button>
    </div>
    <hr />

<% end %>
