<% provide(:title, 'Team List (Student)') %>
<div class="container">
<h1>Teams Listing (Student)</h1>
  <h2>Teams</h2>
  <p>Here are all of the teams you are a part of!</p>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Team Name</th>
      <th>Course</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <% @teams.each  do |team| %>
      <tr>
        <td>
          <%=team.name %></td>
        </td>
        <td>
          <%= team.course.class_number%>
        </td>
        </td>
        <td>
          <%= link_to "View", team_path(team), :class => 'text-primary' %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>