<% provide(:title, 'Team View (Student)') %>
<div class="container">
  <h1>Team View (Student)</h1>
  <hr/>
  <h1>Team <%= @team.name %> for course <%= @team.course.class_number %></h1>
<br>
  <h2>Team Members</h2>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Member Name</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>Add here</td>
    </tr>
    </tbody>
  </table>
<hr/>
  <h2>Peer evaluations and scores</h2>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Project Name</th>
      <th>Your Score</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>Placeholder</td>
      <td>Placeholder</td>
    </tr>
    </tbody>
  </table>
  <%= link_to "Back", teams_path, :class => 'btn btn-primary'%>
</div>