/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
$theme-color-1: #252574;
$text-color-1: #FFFFFF;
$theme-color-2: #e2e2e2;
$text-color-2: #252574;

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: $theme-color-1;
    color: $text-color-1;
    height: min-content;
    p {
        display: inline-block;
        margin: 0;
    }
    p.right {
        float: right;
    }
}

header {
    padding: 10px;
    background-color: $theme-color-2;
    h1 {
        color: $text-color-2;
        display: inline-block;
        margin: 0;
    }
    ul {
        margin-top: 0px;
        float: right;
        vertical-align: middle;
    }
    button {
        margin-top: -5px;
    }
}
