@import 'application.scss';

div.custom-jumbo {
    margin: 10% 25%;
    height: max-content;
    background-color: white;
    border-radius: 5px;
    border: 2px solid $theme-color-1;
    padding: 30px;
    
    input {
        border: 2px solid $theme-color-1-trans !important;
    }
    
    input:focus {
        border: 2px solid $theme-color-1 !important;
    }

    button {
        color: $theme-color-1;
        border: 1px solid $theme-color-1;
    }

    button:hover {
        background-color: $theme-color-1;
        color: white !important;
    }

    h1, label {
        color: $theme-color-1;
    }
}

a {
    color: $theme-color-1;
    text-decoration: none !important;
}

body {
    margin: 0px !important;
}

button:hover a {
    color: white;
    transition: all 0.3s;
}

div.psuedo-body {
    position: absolute;
    width: 100%;
    height: 100%;
    min-height: 700px;
    background-image: url('FreeBlueBackgroundEdit.jpg') !important;
}

button.back-button {
    float: right;
}