@import 'application.scss';

//Credential Blocking Partial:
img.locked {
    position: relative;
    margin: auto;
    width: 40vh;
    padding-top: 20px;
}

h1.locked, p.locked {
    color: white;
    padding: 50px;
}

a.locked {
    color: white;
    display: block;
    border: 1px solid white;
    border-radius: 5px;
    width: min-content;
    padding: 10px;
    margin: auto;
    transition: all 0.3s;
}

a.locked:hover {
    background-color: white;
    color: $theme-color-1;
}

div.lock-body {
    position: absolute;
    top: 0;
    text-align: center;
    width: 100%;
    height: 100%;
    background-image: url('FreeBlueBackgroundEdit.jpg') !important;
}

//Profile Page for Users
img.prof-pic {
    box-shadow: 0px 0px 5px black;
    border-radius: 100%;
    width: 100px;
    margin: 10px;
}

p.faded {
    color: rgba(0, 0, 0, 0.5);
}

h1.name {
    display: inline-block;
    margin-left: 20px;
}

div.left-pannel {
    width: 25%;
    min-width: 360px;
    display: inline-block;
    vertical-align: top;
}

div.right-pannel {
    margin: auto;
    width: calc(50% - 50px);
    display: inline-block;
}



@media screen and (max-width: 800px) {
    div.right-pannel {
        width: max-content;
        display: block;
        margin: auto;
        text-align: center;
        
        ul {
            text-align: left !important;
        }
    }

    div.left-pannel {
        width: min-content;
        display: block;
        margin: auto;
        text-align: center;
    }
}

//------- here are the course stylings

.display {
    justify-content: left !important;
}

h1{
    text-align: center;
    margin-bottom: 25px;
}

h3.header{
    text-align: center;
}

.center-c{
    margin: auto;
}



p.no-course{
    color: rgba(0, 0, 0, 0.5);
    text-align: center;
}

.hr {
    width:40%;
    border-bottom:1px solid rgba(0,0,0,.7);
}

.well {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    margin-left: 50px;
    margin-right: 50px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
}

.course-btn {
    float: right;
    margin-top: -40px;
}

.wrap-name{
    width: 60%;
    word-break: break-word;
}

.btn.reset-password {
    color: $theme-color-1;
    border: 1px solid $theme-color-1;
}

.btn.reset-password:hover {
    color: white;
    background-color: $theme-color-1;
}

//Delete account page
div.da-container {
    margin: auto;
    width: 40vw;
    padding: 1%;
    height: max-content;
    background-color: white;
    border-radius: 10px;
    position: relative;
    top: 25%;
}

span.email {
    color: $theme-color-1;
}

.cancel {
    border-color: $theme-color-1;
    color: $theme-color-1;
    position: relative;
    left: -5vw;
    margin: 30px 0px;
}

.cancel:hover {
    border-color: $theme-color-1;
    color: white;
    background-color: $theme-color-1;
}

.delete-account {
    position: relative;
    right: -5vw;
    margin: 30px 0px;
}


//test
/* The hero image */
.hero-image {
    /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
    background-image: url("/assets/saas-application.png");
  
    /* Set a specific height */
    height: 100vh;
    width: calc(100vw - 20px);
  
    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;

    margin-left: 10px;
    margin-right: 10px;
}
  
  /* Place text in the middle of the image */
.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

@media screen and (max-width: 800px) {
    .cancel {
        display: block;
        margin: auto;
        left: 0;
    }

    .delete-account {
        display: block;
        margin: auto;
        left: 0;
    }

    div.da-container {
        word-break: break-word;
        width: 100%;
    }
}